BasedOnStyle:  Microsoft
TabWidth:        2
IndentWidth:     2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 100
PointerAlignment: Left
SortIncludes: Never
SpaceBeforeParens: Always
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BraceWrapping:
  AfterNamespace:  false
  SplitEmptyFunction: false
AlignConsecutiveMacros:
  Enabled: true
AlwaysBreakTemplateDeclarations: Yes
# AlwaysBreakAfterReturnType: TopLevel

